{% extends "layout.njk" %}

{% block head %}
	{{ super() }}
	<style>
		header h1 {
			font-size: calc(2 * var(--one-line));
		}
		@media (min-width: 705px) {
			header h1 {
				font-size: calc(3 * var(--one-line));
			}
		}
	</style>
{% endblock head %}
