<!DOCTYPE html>
<html data-theme="tokyo-night" data-font-family="sans-serif">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/assets/css/readable.min.css?v=1.1.0">
		<link rel="stylesheet" type="text/css" href="/assets/css/global.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/themes.css">
		<script src="/assets/js/themeSelector.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="alternate" type="application/rss+xml" title="RSS" href="https://static.quest/news/feed/">
		<title>{{ title }}</title>
		<meta property="og:title" content="{{title}}">
		<meta property="og:type" content="website">
		{% if description %}
		<meta name="description" content="{{description}}">
		<meta property="og:description" content="{{description}}">
		{% endif %}
		<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
		<!--<link rel="me" href="https://lowkey.zone/@benjaminhollon">-->
		{% endblock head %}
		<noscript>
			<style>
.--hide-noscript {
	display: none;
}
			</style>
		</noscript>
	</head>
	<body onload="updateThemeSelector()">
		{% block header %}
		<header>
			<h1>{% block title %}{{ title }}{% endblock title %}</h1>
			{% block subtitle %}<p>{% if subtitle %}{{ subtitle }}{% endif %}</p>{% endblock subtitle %}
		</header>
		{% endblock header %}
		<nav data-style="boxes">
			<a href="/">Home</a>
			<a href="/news/">News</a>
			<a href="/projects/">Projects</a>
		</nav>
		<main>
			{% block main %}
			{{ content | safe}}
			{% endblock main %}
		</main>
		<footer>
			{% block footer %}
			<p><a target="_blank" href="https://liberapay.com/benjaminhollon"><img alt="Donate using Liberapay" src="/assets/images/donate.svg"></a></p>
			<p>We &lt;3 static sites</p>
			{% endblock footer %}
		</footer>
		<ul id="themeSelector" class="--hide-noscript"></ul>
	</body>
</html>
