@font-face {
	font-family: "Blackout Sunrise";
	src: url(/assets/fonts/blackout_sunrise-webfont.woff);
}

@font-face {
	font-family: "Raleway";
	src: url(/assets/fonts/Raleway-Regular.woff2);
}

.--center {
	text-align: center;
}
.--left { text-align: left }

/* Site Quirks */
header h1 {
	font-family: "Blackout Sunrise", sans-serif;
	line-height: 1;
}

html[data-font-family="sans-serif"] {
	font-family: "Raleway", sans-serif;
}

/* Themes */
a {
	color: var(--text-highlight-1);
}

a:visited {
	color: var(--text-highlight-2);
}

kbd, code {
	background-color: var(--background-color-1);
}

:is(body, header) > nav:first-of-type a {
	color: var(--text-highlight-0);
	--color: var(--text-highlight-0);
}

button {
	color: var(--text-highlight-1);
	background-color: var(--background-color-1);
}

/* Theme Selector */
#themeSelector {
	list-style: none;
	padding: calc(0.5 * var(--one-line));
	margin: 0;
	background-color: var(--background-color-1);
	display: inline-block;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	max-height: calc(100% - 4rem);
	overflow: auto;
}

#themeSelector a.current, #currentTheme {
	color: var(--text-highlight-0);
	text-decoration: none;
}

#themeSelector > details > summary {
	list-style: none;
}

#themeSelector details > li {
	margin-left: var(--one-line);
}

#themeSelector details {
	margin: 0
}

@media (max-width: 90ch) {
	body { padding-bottom: calc(2 * var(--one-line)) }
	#themeSelector {
		display: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
	}
}
